extends components/template

block title
	title vorota-grad

block fonts
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")

block main-header
	include components/header

block first-screen
	include components/first-screen

block about
	include components/about

block promo
	include components/promo

block crew
	include components/crew

block produce
	include components/produce

block goods
	include components/goods

block estimate
	include components/estimate

block mail
	include components/mail

block reviews
	include components/reviews

block map
	include components/map

block manufactory
	include components/manufactory

block director
	include components/director

block footer
	include components/footer

block modal
	include components/modal