extends components/template

block title
	title vorota-grad

block fonts
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")

block main-header
	include components/header

block first-screen
	include components/first-screen

block about
	include components/about

block promo
	include components/promo

block crew
	include components/crew