// /////
// about
// /////

.about(id="about")
	.about-container
		.about-column
			.logo-bg-wrapper
				.logo-bg
					img.logo__img(src=logoLink alt="logo")
				.text-element-bg
					span.text-element 10 лет
			h2.about-title Безупречного качества
			p.about-text За 10 лет работы мы создали первоклассный сервис по установке ворот, а главное — научились предвосхищать ожидания клиентов, создавая эксклюзивные проекты и разрабатывая дизайн под Ваш экстерьер.
		.about-column
			img.about-img(src="img/bg3.jpg")