// /////
// crew
// /////

.crew
	.crew-container
		.crew-column
			img.crew-img(src="img/crew-block-img.jpg")
		.crew-column
			h2.crew-title 10 ПРОФЕССИОНАЛЬНЫХ БРИГАД ГОТОВЫ К ВЫЕЗДУ НА ВАШ УЧАСТОК
			p.crew-text Качество монтажа — основной приоритет команды. Мы доверяем нашим клиентам и приедем к Вам бесплатно, чтобы сделать замеры и составить точную смету
			a.crew-btn(href="#") Заказать бесплатный замер