// /////
// crew
// /////

//- .crew
//- 	.crew-container
//- 		.crew-column
//- 			img.crew-img(src="img/bg3.jpg")
//- 		.crew-column
//- 			h2.crew-title 10 ПРОФЕССИОНАЛЬНЫХ БРИГАД ГОТОВЫ К ВЫЕЗДУ НА ВАШ УЧАСТОК
//- 			p.crew-text Качество монтажа — основной приоритет команды. Мы доверяем нашим клиентам и приедем к Вам бесплатно, чтобы сделать замеры и составить точную смету

.about
	.about-container
		.about-column
			.logo-bg-wrapper
				.logo-bg
					img.logo__img(src=logoLink alt="logo")
				.text-element-bg
					span.text-element 10 лет
			h2.about-title Безупречного качества
			p.about-text За 10 лет работы мы создали первоклассный сервис по установке ворот, а главное — научились предвосхищать ожидания клиентов, создавая эксклюзивные проекты и разрабатывая дизайн под Ваш экстерьер.
		.about-column
			img.about-img(src="img/bg3.jpg")