// ////////
// director
// ////////

.director
	.director-container
		.director-column
			h2.director__title Иванов Иван
			p.director__text Директор
			p.director__text Мы всегда находим общий язык с клиентами, любим, когда нам задают вопросы. Ведь именно из них мы понимаем, что волнует клиентов больше всего
			p.director__text Остались вопросы?<br>Введите свой вопрос, и в течение 15 минут я свяжусь с Вами.
			a.director__btn.order(href="#") Отправить вопрос
		.director-column
			img.director__img(src="img/crew-block-img.jpg")
