// ////////
// estimate
// ////////

.estimate
	h2.estimate__title Пример сметы
	.estimate-container
		.estimate-column
			table
				thead
					tr
						td Наименование работ/материалов
						td ед. изм.
						td кол-во
						td стоимость за ед.
						td общая стоимость всего
				tbody
					tr
						td Эксковатор (траншея, яма, засыпка, погрузка)
						td час
						td 6
						td 1300
						td 7800
					tr
						td Эксковатор (траншея, яма, засыпка, погрузка)
						td час
						td 6
						td 1300
						td 7800
					tr
						td Эксковатор (траншея, яма, засыпка, погрузка)
						td час
						td 6
						td 1300
						td 7800
					tr
						td Эксковатор (траншея, яма, засыпка, погрузка)
						td час
						td 6
						td 1300
						td 7800
					tr
						td Эксковатор (траншея, яма, засыпка, погрузка)
						td час
						td 6
						td 1300
						td 7800
					tr
						td Эксковатор (траншея, яма, засыпка, погрузка)
						td час
						td 6
						td 1300
						td 7800
					tr
						td Эксковатор (траншея, яма, засыпка, погрузка)
						td час
						td 6
						td 1300
						td 7800
					tr
						td Эксковатор (траншея, яма, засыпка, погрузка)
						td час
						td 6
						td 1300
						td 7800
					tr
						td Эксковатор (траншея, яма, засыпка, погрузка)
						td час
						td 6
						td 1300
						td 7800
		.goods-column
			.goods-filter
				h2.goods__column-title Стандарт
				.goods__img
				p.goods__text Ахуенный умереный цена ворота для людей
				a.goods__btn(href="#") Подробнее
				a.goods__btn(href="#") Узнать цену под ключ