// /////
// goods
// /////

.goods.item(id="section")
	h2.goods__title.title Секционные ворота
	.goods-container
		.goods-column
			.goods-filter
				h2.goods__column-title Эконом
				.goods__img
				p.goods__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				a.goods__btn.order.more(href="#") Подробнее
				a.goods__btn.order(href="#") Узнать цену под ключ
		.goods-column
			.goods-filter
				h2.goods__column-title Стандарт
				.goods__img
				p.goods__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				a.goods__btn.order.more(href="#") Подробнее
				a.goods__btn.order(href="#") Узнать цену под ключ
		.goods-column
			.goods-filter
				h2.goods__column-title Премиум
				.goods__img
				p.goods__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				a.goods__btn.order.more(href="#") Подробнее
				a.goods__btn.order(href="#") Узнать цену под ключ