// /////
// goods
// /////

.goods
	h2.goods__title Распашные ворота
	.goods-container
		.goods-column
			.goods-filter
				h2.goods__column-title Эконом
				img.goods__img
				p.goods__text Ахуенный дешёвый ворота для нищебродов
				a.goods__btn(href="#") Подробнее
				a.goods__btn(href="#") Узнать цену под ключ
		.goods-column
			.goods-filter
				h2.goods__column-title Стандарт
				img.goods__img
				p.goods__text Ахуенный умереный цена ворота для людей
				a.goods__btn(href="#") Подробнее
				a.goods__btn(href="#") Узнать цену под ключ
		.goods-column
			.goods-filter
				h2.goods__column-title Премиум
				img.goods__img
				p.goods__text Ахуенный дорогой ворота для козырных
				a.goods__btn(href="#") Подробнее
				a.goods__btn(href="#") Узнать цену под ключ