// /////
// mail
// /////

.mail
	.mail-container
		.mail-column
			img.mail__img(src="img/crew-block-img.jpg")
		.mail-column
			h2.mail__title РАССЫЛКА ОТ КОМПАНИИ «ВОРОТАГРАД»
			p.mail__text Одно письмо в неделю. Никакого спама.
			ul.mail-list
				li.mail-list__item - Почему обычные ворота — прошлое
				li.mail-list__item - На что обращать внимание при выборе автоматических ворот
				li.mail-list__item - Как не переплачивать и не быть обманутым
			p.mail__text Получите PDF чек-лист строителя «Как правильно выбрать и установить ворота». Полезно прочитать человеку далекому от строительства.
			a.mail__btn.order(href="#") Подписаться на рассылку
