// ///////////
// manufactory
// ///////////

.manufactory
	h2.manufactory__title Наше производство
	p.manufactory__text Производство: г. батайск ул. Промышленная 99 (100500 км от города)
	a.manufactory__btn.order(href="#") Записаться на экскурсию
	p.manufactory__text Это бесплатно!
	p.manufactory__text.manufactory__text--uppercase Наше производство это:
	.manufactory-container
		.features
			.features-column
				img.features__img(src="img/good-white.png" width="50")
				p.features__text Производство и монтаж автоматических и ролл ворот <span class="underline">DoorHan</span> в Ростове и РО
			.features-column
				img.features__img(src="img/time-white.png" width="50")
				p.features__text Работаем с <span class="underline">2005 года</span>. <span class="underline">100500</span> ворот изготовлено и установлено.

			.features-column
				img.features__img(src="img/deal-white.png" width="55")
				p.features__text <span class="underline">Самый крупный</span> производитель ворот в РО. Гарантия на все работы <span class="underline">100 лет</span>.