// ///////////
// manufactory
// ///////////

.manufactory
	h2.manufactory__title Наше производство
	p.manufactory__text Производство: г. батайск ул. Промышленная 99 (100500 км от города)
	a.manufactory__btn.order(href="#") Записаться на экскурсию
	p.manufactory__text Это бесплатно!
	p.manufactory__text.manufactory__text--uppercase Посмотрите видео о нас:
	.manufactory-container
		iframe(width="560" height="315" src="https://www.youtube.com/embed/uAiwPxlRYgE" frameborder="0" allowfullscreen)