// ///////
// produce
// ///////

.produce(id="catalog")
	h2.produce__title Мы производим:
	.produce-container
		ul.produce__list
			li.produce__item
				a(href="#")
					.produce__img.produce__img--1
						.filter
					span.produce__text Рулонные ворота 
			li.produce__item
				a(href="#")
					.produce__img.produce__img--2
						.filter
					span.produce__text Распашные ворота
			li.produce__item
				a(href="#")
					.produce__img.produce__img--3
						.filter
					span.produce__text Сдвижные ворота
			li.produce__item
				a(href="#")
					.produce__img.produce__img--4
						.filter
					span.produce__text Откатные ворота
			li.produce__item
				a(href="#section")
					.produce__img.produce__img--5
						.filter
					span.produce__text Секционные ворота