// ///////
// produce
// ///////

.produce
	h2.produce__title Мы производим:
	.produce-container
		ul.produce__list
			li.produce__item
				.produce__img
				span.produce__text Рулонные ворота 
			li.produce__item
				.produce__img
				span.produce__text Распашные ворота
			li.produce__item
				.produce__img
				span.produce__text Сдвижные ворота
			li.produce__item
				.produce__img
				span.produce__text Откатные ворота
			li.produce__item
				.produce__img
				span.produce__text Секционные ворота