// /////
// promo
// /////

.promo
	h2.promo-title Акция в честь юбилея!
	.promo-container
		.promo-column
			.promo-subcolumn
				p.promo-text Рассчитайте стоимость рольворот прямо сейчас
				a.btn-order.order(href="#") Монтаж в подарок!
			.promo-subcolumn
				.promo-img
		.promo-column
			.promo-subcolumn
				p.promo-text При заказе Секционных ворот в день замера
				a.btn-order.order(href="#") Пульт премиум стоимостью<br> 2000 руб в подарок!
			.promo-subcolumn
				.promo-img