// ///////
// reviews
// ///////

.reviews(id="portfolio")
	.reviews-container
		h2.reviews__title Отзывы клиентов
		.slider-wrapper
			.slider
				.slider__item
					.slider__item-container
						.slider__column
							.slider__img-big.slider__img-big--1
						.slider__column
							.slider__img-small.slider__img-small--1
							.slider__text-wrapper
								h2.slider__title Анатолий Сурков
								p.slider__text Очень понравилось как работает компания Воротаград — действительно соответствуют всем заявленным параметрам. Приехали быстро, замерили, установили, подарили пульт дистанционного управления. Сами ворота отличного качества, автоматика на уровне! Порадовали условия гарантии и сервиса. В общем, всем рекомендую заказывать ворота именно у Воротаграда!
				.slider__item
					.slider__item-container
						.slider__column
							.slider__img-big.slider__img-big--2
						.slider__column
							.slider__img-small.slider__img-small--2
							.slider__text-wrapper
								h2.slider__title Василий Федоров
								p.slider__text Компанию ВоротаГрад мне посоветовали знакомые, которые недавно устанавливали себе секционные ворота. Мне понравилось как им качественно сделали и я решил установить себе такие же в свой гараж. В результате, после звонка, ко мне приехали замерщики, все быстро посчитали и буквально через несколько дней ворота уже были установлены. Не ожидал такой оперативности и качества по приятным ценам. Всем рекомендую.
				.slider__item
					.slider__item-container
						.slider__column
							.slider__img-big.slider__img-big--3
						.slider__column
							.slider__img-small.slider__img-small--3
							.slider__text-wrapper
								h2.slider__title Николай Лесин
								p.slider__text Мне нужны были секционные ворота с входной дверью, при чем довольно большого размера. Перебрал несколько компаний по установке ворот и остановился на ВоротаГраде — одна из самых опытных компаний на рынке с большим количеством решений для любых целей. Замерщики приехали быстро, а установка заняла всего один день. Очень понравилось то, как ребята работают — профессионалов видно издалека. Рекомендую обращаться к ВоротаГрад за качественными воротами.

