// /////////////
// second-screen
// /////////////

.about
	.about-wrapper
		.about-section

		.about-section
			.about-section-wrapper
				.logo-bg
					img.logo__img(src=logoLink width=logoWidth height=logoHeight alt="logo")
				.text-element-bg
					span.text-element 10 лет
			h2.about-title безупречного качества
			p.about-text За 10 лет работы мы создали первоклассный сервис по установке ворот, а главное — научились предвосхищать ожидания клиентов, создавая эксклюзивные проекты и разрабатывая дизайн под Ваш экстерьер.