include mixins

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="MobileOptimized" content="430")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		block fonts
		link(rel="stylesheet" href="css/style.min.css")
		block title
	body
		block main-header
		block first-screen
		block second-screen